/* PC */
@media (min-width: 1024px) {

}

/* TABLET & MOBILE */
@media (max-width: 1023px) {
    .btn {
        padding: 15px 16px;
        appearance: none;
        -webkit-appearance: none;
    }

    .contact-info {
        line-height: 2;
    }

    .contact-form .form-control {
        padding: 15px;
        font-size: 16px;
    }

    .contact-submit-btn {
        font-size: 16px;
    }

    #footer .social-list>a {
        font-size: 32px;
        margin: 0 8px;
    }
    
    #footer .credit {
        font-size: 24px;
        margin-top: 32px;
    }
    #footer .credit>a {
        padding: 16px;
    }
}

/* TABLET */
@media (min-width: 740px) and (max-width: 1023px){
    
}

/* MOBILE */
@media (max-width: 739px) {
    
    .s-full-width,
    .s-col-full {
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }

    #header {
        overflow: hidden;
    }

    #header .menu-btn {
        display: block;
    }

    #header .search-btn {
        display: none;
    }

    #nav li a {
        padding: 0 25px;
    }
    
    #nav .subnav {
        position: initial;
        background-color: #222;
    }

    #nav .subnav a {
        padding: 4px 39px;
        color: #fff;
    }

    #nav>li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #nav {
        display: block;
    }

    #content .member-imgs {
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }

}